<ion-header>
    <ion-toolbar>
        <ion-title>Entregas habituales de hoy</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="irADanger()">
            <ion-icon slot="icon-only" [name]="danger.length > 0? 'alert':'checkmark-circle'" [color]="danger.length > 0? 'danger':'success'"></ion-icon>
            <ion-badge color="dark" *ngIf="danger.length > 0">{{danger.length}}</ion-badge>
          </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-searchbar placeholder="Filtrar" (ionChange)="buscarEntrega($event)"></ion-searchbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let entrega of entregasDisplay; let i = index">
            <ion-item-options side="start" text-wrap>
                <ion-item-option (click)="reintentar(entrega, i)" color="primary">Re-intentar</ion-item-option>
            </ion-item-options>

            <ion-item>
                <ion-row>
                    <ion-col size="12">
                        <strong>
                            Nombre:
                        </strong>
                    </ion-col>
                    <ion-col size="6">
                        {{entrega.usuario.name}}
                    </ion-col>
                    <ion-col size="6" text-center>
                      <ion-button (click)="verInfo(entrega)">
                        Ver info
                      </ion-button>
                    </ion-col>
                    <ion-col size="12">
                        <strong>
                            Localidad:
                        </strong>
                    </ion-col>
                    <ion-col size="12">
                        {{entrega.rol.localidad}}
                    </ion-col>
                </ion-row>
            </ion-item>

            <ion-item-options side="end">
                <ion-item-option color="secondary" (click)="modificar(entrega)">Modificar</ion-item-option>
                <ion-item-option color="success" (click)="entregarSinModificaciones(entrega , i)">Entregar</ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>


</ion-content>
