<ion-header>
    <ion-toolbar>
        <ion-title>Entregas de habituales: {{commonServ.hoy() }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="irADanger()">
            <ion-icon slot="icon-only" [name]="danger.length > 0? 'alert':'checkmark-circle'" [color]="danger.length > 0? 'danger':'success'"></ion-icon>
            <ion-badge color="dark" *ngIf="danger.length > 0">{{danger.length}}</ion-badge>
          </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-searchbar placeholder="Filtrar" (ionChange)="buscarEntrega($event)"></ion-searchbar>
</ion-header>

<ion-content>
    <ion-list>
      <div *ngFor="let pedido of pedidosDisplay; let index_pedido = index">
        <ion-item-sliding *ngFor="let entrega of pedido.entregas; let index_entrega = index">
          <ion-item-options side="start" text-wrap>
            <ion-item-option (click)="reintentar(pedido, index_pedido, index_entrega)" color="primary">Re-intentar</ion-item-option>
          </ion-item-options>

          <ion-item>
            <ion-row>
              <ion-col size="6">
                <strong>
                  Pedido Nº:
                </strong>
                {{pedido.pedido.id}}
              </ion-col>
              <ion-col size="6">
                <strong>
                  Entrega Nº:
                </strong>
                {{entrega.id}}
              </ion-col>

              <ion-col size="12">
                <strong>
                  Nombre:
                </strong>
              </ion-col>
              <ion-col size="6">
                {{pedido.usuario.name}}
              </ion-col>
              <ion-col size="6" text-center>
                <ion-button (click)="verInfo(pedido, index_entrega)">
                  Ver info
                </ion-button>
              </ion-col>
              <ion-col size="12">
                <strong>
                  Localidad:
                </strong>
              </ion-col>
              <ion-col size="12">
                {{pedido.rol.localidad}}
              </ion-col>

            </ion-row>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option color="secondary" (click)="modificar(pedido, index_entrega)">Modificar</ion-item-option>
            <ion-item-option color="success" (click)="entregarSinModificaciones(pedido , index_pedido, index_entrega)">Entregar</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>

      </div>
    </ion-list>


</ion-content>
