
<div class="splash" id="splash">
  <div class="loader">

  </div>
</div>
<ion-content scrollY="false">
  <ion-img src="assets/imgs/logo.png">

  </ion-img>

  <div class="item-container">
    <ion-item>
      <ion-label position="floating">
        Usuario
      </ion-label>
      <ion-input type="text" [(ngModel)]="email">

      </ion-input>
    </ion-item>

  </div>

<div class="item-container">
  <ion-item>
    <ion-label  position="floating">
      Contraseña
    </ion-label>
    <ion-input type="password" [(ngModel)]="password">

    </ion-input>
  </ion-item>
</div>

  <br><br>

  <ion-button expand="block" (click)="login()">
    Ingresar
  </ion-button>
</ion-content>
