<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="entregas-habituales-hoy">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Hoy</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="entregas-procesadas">
      <ion-icon name="archive"></ion-icon>
      <ion-label>Procesadas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="alarma-derivadas">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Alarma y derivadas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mis-pedidos">
      <ion-icon name="person"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
