<ion-header>
    <ion-toolbar>
        <ion-title>Alarma y derivadas</ion-title>
    </ion-toolbar>
    <ion-searchbar placeholder="Filtrar" (ionChange)="filtrarEntregas($event)"></ion-searchbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
      <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

    <ion-list>
      <div *ngFor="let pedido of pedidosDisplay; let index_pedido = index">
        <ion-item-sliding *ngFor="let entrega of pedido.entregas; let index_entrega = index">
          <ion-item>
            <ion-row>
              <ion-col size="12" *ngIf="entrega.derivada == 1">
                <strong>
                  <ion-text color="tertiary">
                    Derivada de {{pedido.pedido.repartidor_habitual_id | empleado}}
                  </ion-text>
                </strong>
              </ion-col>
              <ion-col size="12">
                <strong>
                  <ion-text color="tertiary">
                    <strong>Entrega Nº </strong> {{entrega.id}}
                  </ion-text>
                </strong>
              </ion-col>
              <ion-col size="12" *ngIf="pedido.pedido.alarma == 1 && entrega.derivada != 1">
                <strong>
                  <ion-text color="tertiary">
                    Alarma
                  </ion-text>
                </strong>
              </ion-col>
              <ion-col size="12">
                <strong>
                  Nombre:
                </strong>
              </ion-col>
              <ion-col size="6">
                {{pedido.usuario.name}}
              </ion-col>
              <ion-col size="6" text-center>
                <ion-button (click)="verInfo(pedido, index_entrega)">
                  Ver info
                </ion-button>
              </ion-col>
              <ion-col size="12">
                <strong>
                  Localidad:
                </strong>
              </ion-col>
              <ion-col size="12">
                {{pedido.rol.localidad}}
              </ion-col>
              <ion-col size="12" *ngIf="pedido.entregas.reintentar != 1">
                <strong>
                  Fecha de entrega ideal:
                </strong>
              </ion-col>
              <ion-col size="12">
                {{entrega.fecha_de_entrega_potencial}}
              </ion-col>
              <ion-col size="12" *ngIf="pedido.entregas.reintentar != 1">
                <strong>
                  Dia de entrega:
                </strong>
              </ion-col>
              <ion-col size="12">
                {{pedido.pedido.dia_de_entrega | dia}}
              </ion-col>


            </ion-row>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option color="secondary" (click)="modificar(pedido, index_pedido, index_entrega)">Modificar</ion-item-option>
            <ion-item-option color="success" (click)="entregarSinModificaciones(pedido , index_pedido, index_entrega)" >Entregar</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </div>
        <ion-row *ngIf="pedidosDisplay.length == 20">
          <ion-col size="12">
            <ion-text color="tertiary">
              Mostrando las primeras 20 entradas
            </ion-text>
          </ion-col>
        </ion-row>
    </ion-list>
</ion-content>
