<ion-header>
    <ion-toolbar>
        <ion-title>Procesadas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-item>
        <ion-label>Desde</ion-label>
        <ion-datetime display-format="YYYY/MM/DD" cancelText="Cancelar" doneText="Elegir" (ionChange)="elegirFecha($event, 'desde')"></ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label>Hasta</ion-label>
        <ion-datetime (value) = "hoy" display-format="YYYY/MM/DD" cancelText="Cancelar" doneText="Elegir" (ionChange)="elegirFecha($event, 'hasta')"></ion-datetime>
    </ion-item>

    <ion-button expand="block" (click)="buscarEntregasDistintasAHoy()">Buscar entregas</ion-button>
    <ion-searchbar placeholder="Filtrar" (ionChange)="filtrarEntregas($event)"></ion-searchbar>

    <ion-list>
        <ion-row *ngIf="isHoyScreen">
          <ion-col size="12" text-center>
            <ion-text color="secondary">
              Mostrando entregas procesadas de hoy, entregas a re-intentar y entregas sin procesar
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!isHoyScreen">
          <ion-col size="12" text-center>
            <ion-text color="primary">
              Refrescar pantalla para ver entregas procesadas de hoy, entregas a re-intentar y entregas sin procesar
            </ion-text>
          </ion-col>
        </ion-row>
        <div *ngFor="let pedido of pedidosDisplay; let index_pedido = index">
          <ion-item-sliding *ngFor="let entrega of pedido.entregas; let index_entrega = index">
            <ion-item>
              <ion-row>
                <ion-col size="12" *ngIf="entrega.reintentar == 1" justify-content-center style="text-align:center">
                  <strong>
                    <ion-text color="primary" style="font-size:6vw">
                      <strong>Re-intentar</strong>
                    </ion-text>
                  </strong>
                </ion-col>
                <ion-col size="6">
                  <ion-text color="tertiary">
                    <strong>
                      Entrega Nº
                    </strong>
                    {{entrega.id}}
                  </ion-text>
                </ion-col>
                <ion-col size="6" *ngIf="entrega.reintentar != 1">
                  <ion-text color="tertiary">
                    <strong>
                      {{entrega.estado}}
                    </strong>
                  </ion-text>
                </ion-col>
                <ion-col size="12">
                  <strong>
                    Nombre:
                  </strong>
                </ion-col>
                <ion-col size="6">
                  {{pedido.usuario.name}}
                </ion-col>
                <ion-col size="6" text-center>
                  <ion-button (click)="verInfo(pedido, index_entrega)">
                    Ver info
                  </ion-button>
                </ion-col>
                <ion-col size="12">
                  <strong>
                    Observaciones:
                  </strong>
                </ion-col>
                <ion-col size="12">
                  {{entrega.observaciones}}
                </ion-col>
                <ion-col size="12" *ngIf="pedido.entregas.reintentar != 1">
                  <strong>
                    Procesada en:
                  </strong>
                </ion-col>
                <ion-col size="12">
                  {{entrega.fecha_de_procesamiento_real}}
                </ion-col>
                <ion-col size="12" *ngIf="pedido.entregas.reintentar != 1">
                  <strong>
                    Fecha de entrega ideal:
                  </strong>
                </ion-col>
                <ion-col size="6">
                  {{entrega.fecha_de_entrega_potencial}}
                </ion-col>
                <ion-col size="6">
                  <ion-icon name="alert" color="warning" *ngIf="commonServ.givenDateTimeline(entrega.fecha_de_entrega_potencial) == 'past' && entrega.estado =='sin procesar'">

                  </ion-icon>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option color="secondary" (click)="modificar(pedido, index_pedido, index_entrega)">Modificar</ion-item-option>
              <ion-item-option color="success" (click)="entregarSinModificaciones(pedido , index_pedido, index_entrega)" *ngIf="pedido.entregas.reintentar == 1">Entregar</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

        </div>
        <ion-col size="12" *ngIf="pedidosDisplay.length > 20">
          <ion-text color="tertiary">
            Mostrando los primeros 20 resultados
          </ion-text>
        </ion-col>
    </ion-list>


</ion-content>
